body {
    background-image: url('IMG-20240812-WA0008.jpg'); /* Sesuaikan jalur dengan lokasi foto Anda */
    background-size: cover; /* Mengatur gambar agar menutupi seluruh background */
    background-position: center; /* Mengatur posisi gambar di tengah */
    background-repeat: no-repeat; /* Mencegah gambar diulang */
}

header {
    background-color: rgba(0, 0, 0, 0.5); /*Hitam dengan transparansi 50% */
    padding: 20px;
    text-align: center;
}

h1 {
    text-shadow: 2px 2px 4px rgba (0, 0, 0, 0.7); /* Bayangan hitam */
    background-color: rgba (255, 255, 255, 0.7) /* Putih dengan transparansi 70% */
    padding: 10px
    color: #333; /* Warna teks gelap */
    display: inline-block; /*Hanya memengaruhi teks */

<head>
    .form-input {
    width: 100%;
    box-sizing: border-box; /* Agar padding termasuk dalam lebar */
    padding: 10px; /* Menambahkan padding */
    margin-bottom: 10px; /* Menambahkan jarak antar elemen ubah*/
    }
        }
    </style>
</head>
